<div class="comment--body">
  <% if @story.points.count == 0 %>
  <h2>Пока что нет комментариев</h2>
  <% else %>
    <%= User.find(current_user.id).username %>
    <%# <%= @point.body %> %>
    <p>
    <%# <%= link_to 'Destroy Comment', [point.story, point],
                     :confirm => 'Are you sure?',
                     :method => :delete %>
     </p>
  <% end %> %>
</div>
