<div class="answer_window">

	<p>
		<b></b>
		<%= comment.commenter %>
	</p>
<p>
	<%= link_to 'Destroy Comment', [comment.post, comment],
								:confirm => 'Are you sure?',
								:method => :delete %>
</p>

</div>
<div class="comment_body">
	<p>
		<b></b>
		<%= comment.body %>
	</p>
</div>
