<%= form_for([@post, @post.comments.build]) do |f| %>
<div class="field">

</div>

	<div class="field comment_body_form">
    <%= f.cktext_area :body %>
  </div>
	<div class="actions">
		<%= f.submit 'Отправить' %>
	</div>
<% end %>
