<div class="container_main">
      <%= react_component 'M_TopMenu', {categories: @categories}%>
      <%= react_component 'O_PostsMainPage', {articles: @articles} %>
</div>
<%= react_component 'O_Footer' %>
