<div class="no--posts">
  <div class="text--no--post">
    <%= link_to image_tag("nopost.svg"), new_story_path(@story), :class => "icon--post-user" %>
    <p class="h1--notification">Здесь пока пусто</p>
    <p class="p--notification">В этой ленте будут отображаться ваши <br> вопросы, комментарии и ответы</p>
  </div>
</div>
