<%= react_component 'A_PreviewAccount' %>


<div class="user--account">
	<%= render "users/usercard" %>
<div class="user--posts">
	<% if @user.posts.count == 0%>
	<%= render "users/whithoutposts" %>
<% else %>
<%= react_component 'O_MyPosts', {posts: @posts, categories: @categories, comments: @comments} %>
<% end %>
</div>
</div>
