<meta name="viewport" content="width=device-width">
<div class="container_header">
  <div class="header_box">
  <div class="logo">
    <%= image_tag 'logo.svg'  %>
  </div>
  <div class="pages_buttons">
<div class="box_buttons">
  <div class="button_pages"><%= link_to "ПРОМО", promo_path %></div>
</div>

<div class="box_buttons">
   <div class="button_pages"> <%= link_to "О ПРОЕКТЕ", about_path %>  </div>
</div>
<div class="box_buttons thatpage">
<%= link_to "ФОРУМ", posts_path %>
</div>
  </div>
  </div>
</div>
