<meta name="viewport" content="width=device-width">
<div class="container_header">
  <div class="header_box">
  <div class="logo">
    <%= image_tag 'logo.svg'  %>
  </div>
  <div class="pages_buttons">

    <div class="button_pages not_that_page"><%= link_to "ПРОМО", promo_path %></div>

  <div class="thatpage"> <div class="button_pages not_that_page"> <%= link_to "О ПРОЕКТЕ", about_path %> </div> </div>
  <!-- <div class="button_pages not_that_page"> <a href="posts">  </a> </div> -->
<%= link_to "ФОРУМ", posts_path %>
  </div>
  </div>
</div>
