
<div class="container_body_posts">
  <div class="content_posts">
    <div class="container_content">
      <%= react_component 'M_QuestionCard', {posts: @posts, category: @category } %>
    </div>
  </div>
</div>
