
<div class="container_body_theme">
  <div class="back">
   <%= link_to 'Back', posts_path %>
  </div>
  <div class="box_theme">

    <p class="heading">Создать публикацию</p>
  </div>
<%= render 'form', post: @post %>



</div>
