<%= render 'header' %>
<div class="container_body_theme">
  <div class="box_theme">
    <div class="back">
     <%= link_to 'Back', posts_path %>
    </div>
    <h1>Создание новой Темы</h1>
  </div>
<%= render 'form', post: @post %>



</div>
