.container_header {
  // padding-left: 150px;
  // padding-right: 150px;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
// body {
//   margin: 0;
//   padding: 0;
// }
.box_buttons {
  padding-left: 15px;
  padding-right: 15px;
  // background-color: red;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  // background: #AAE163;
  border-radius: 27px;
}
.pages_buttons {
 display: inline-flex;
 justify-content: space-between;
 align-items: baseline;
 height: 50px;
 width: 300px;
}
.button_pages {

}
.not_that_page {
  // padding-right: 32px;
}

.thatpage {
  background: #AAE163;
}

.header_box {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}
.img {
  width: 100px;
  height: 100px;
  background: 'Frame.png';
}
