body {
  margin: 0;
  padding: 0;
}
.A_H2--white{
  font-weight: 500;
  font-size: 60px;
  color: white;
  margin: 0px;
}
.text_video {
  display: flex;
  justify-content: center;
}
.header_second {
  position: fixed;
  z-index: 1;
  margin-top: -204px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F8F8F8 !important;
}
.header_tags {
  display: flex;
  margin-top: 100px;
  margin-left: 240px;
}
.A_H4--black {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}
.TextBlock {
  padding-top: 115px;
}
.text_email {
  padding-top: 1px;
  width:45%;
}
.content_email {
  padding-left: 40px;

}
.topmenu_button {
  width: 40% !important;
  height: 51px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: auto;
    margin-right: auto;
  background: #738A5F;
  font-size: 20px;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.P_Tag_width {
  width: 400px;
}
.tags_main_page {
  display: flex;
}
.small_text {
  font-size: 16px;
  color: #535353;
  margin-bottom: 50px;
  font-weight: 400;
  width: 78%;
  margin-top: -5px;
}

option {
  margin-top: 20px;
}
.width {
  width: 40% !important;
}
.select_main {
  width: 40%;
  height: 53px;
  margin-top: 35px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #959595;
  padding: 10px;
}
.main_text_cat {
  width: 80%;
  color: black;

}
.input_form {
  margin-right: 16px;
}
.MainTags {
  background: white;
  width: 37%;
  height: 420px;
  border-radius: 30px;
  padding: 10px 1px 20px 35px;
}
.submit_info {
  width: 96%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.button--white {
  background: #738A5F;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.p_tag {
  font-size: 25px;
  font-weight: 500;
}
.A_PTag--white {
  font-weight: 400;
  font-size: 20px;
  color: white;
  width: 550px;
  margin: 0 auto !important;
  text-align: center;
  margin: 0px;
}
.container_body_new_post {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;

}
.new_post {
  display: flex;
}
.left_new_post {
  width: 50%;
}
.right_new_post {
  margin-top: 90px;
  margin-left: 70px;
}
.input_form {
  background: white;
}
.black {
  color: black;
}
.background-top {
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('topmenu.png');
  background-size: cover;
  border-radius: 30px;
  width: 100%;
  height: 543px;
}
.container_main {
  width: 87%;
  margin-top: 120px !important;
  margin: 0 auto;
}
.content_box {
  width: 300px;
  background-color: green;
}
.comments_container {
  display: flex;
  border-bottom: 1px solid #EBEBEB;
}
.left_buttons {
  display: flex;
  align-items: center;
}
.right_section_navbar {
  display: flex;
font-style: normal;
font-weight: 500;
font-size: 19px;
}
.fav {
  margin-bottom: 10px;
}
.avatar_round {
  border-radius: 50px;
}
.username {
  font-size: 40px;
  height: 46px;
margin-left: 29px;
margin-top: 10px;
}
.my_post {
  width: 100%;
  display: flex;
  align-items: center;
}
.table_title_my {
  width: 45%;
  font-weight: 300;
font-size: 18px;
}
.table_date_my {
  width: 20%;

}
.table_status_my {
  width: 20%;
}
.count_favorites {
  display: flex;
}
.container_users_post {
  display: flex;

}
.favorite_text {
  font-size: 20px;
  border-radius: 11px;
    border: 1px solid;
    padding: 10px;
    width: 80%;
}
.my_text {
  font-size: 20px;
  border-radius: 11px;
    border: 1px solid;
    padding: 10px;
}
.favorite_posts {
  width: 30%;

}
// .body_favorites {
//   background: #EBEBEB;
//   border-radius: 10px;
//   padding: 15px;
//   margin-top: 20px;
// }
.my_posts {
  width: 70%;
}
.folow {
  margin-right: 30px;
}
.active_user {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;

}
.active_user_count {
  display: flex;
}
.top_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.folo {
  margin-left: 150px;
  display: flex;
}
.account_user {
  display: flex;
  font-size: 40px;
  align-items: center;
}
.id_user {
  display: flex;
align-items: center;
  font-size: 20px;
  margin-left: 30px;
}
.table_comment {
  width: 40%;
}

.editing {
  margin-left: 28px;
  width: 68px;
  display: flex;
  justify-content: space-between;
}
.comment {
  margin-top: 40px;
}
.tools {
  margin-top: 100px;
}
td {
  background-color: blue; padding: 10px;
}
table {
  margin-left: -10px;
}
.likes_butt {
  display: flex;
  align-items:center;
}
.all-cats {
  width: 100px;
}
.all_posts {
  margin-right:17px;
}
.water {
  background-image: url('water.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  margin-left: -3px;
  margin-right: 5px;
  height: 16px;
}
.erth {
  background-image: url('Erth.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 19px;
  margin-left: -3px;
  margin-right: 5px;
  height: 16px;
}
.gre {
  background-image: url('green.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    margin-left: -5px;
    margin-right: 7px;
    height: 18px;
}
.help {
  background-image: url('help.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    margin-left: -5px;
    margin-right: 7px;
    height: 18px;
}
.sun {
  background-image: url('sun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    margin-left: -5px;
    margin-right: 7px;
    height: 18px;
}
.buy {
  background-image: url('Buy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    margin-left: -5px;
    margin-right: 7px;
    height: 18px;
}
.category_icon {
  width: 10px;
  background-image: url('water.svg');
  height: 10px;
}
.categories {
  display: flex;
  margin-top: 77px;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  justify-content: space-between;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Title_show {
  font-weight: bold;
  font-size: 32px;
}
.comment_delete {
width: 100%;
justify-content: flex-end;
display: flex;
}
.Id {
  width: 10%;
}
.container_content_users {
width: 70%;


  // border: 1px solid #A9E163;
}
.container_content {
width: 100%;
margin-top: 200px !important;
margin-left: -29px;
  // border: 1px solid #A9E163;
}
.count {
  margin-left: 25px;
}
.container_posts {
  display: flex;
      margin-left: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.right_buttons {
  display: flex;
  align-items: baseline;
}
.buttons {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items:baseline;
}
.container_reg {
  margin: 0 auto;
  width: 40%;
}
.container_body_posts {
  width: 92%;
  margin-top: 80px !important;
    margin: 0 auto;
    height: 200px;
}
input[type="text"] {
  background: #F3F3F3;
  width: 100%;
  height: 20px;
  font-size: 25px;
  padding: 10px;
  border: 1px #F3F3F3;
}
.top {
  margin-top: 20px;
}
input[type="email"] {
  background: #F3F3F3;
  width: 100%;
  height: 20px;
  font-size: 25px;
  padding: 10px;
  border: 1px #F3F3F3;
}
input[type="password"] {
  background: #F3F3F3;
  width: 100%;
  height: 20px;
  font-size: 25px;
  padding: 10px;
  border: 1px #F3F3F3;
}
.unfol {
  margin-right: 130px;
}
.side_bar {
  width: 20%;
  position:  static;
  margin-top: 120px;
}
.menu {
  margin-bottom: 20px;
}

.postic {
  border: 1px solid #A9E163;
  border-radius: 10px;
}
.heading {
  font-weight: 500;
font-size: 40px;
}
.window:first-child {
  // margin-top: 50px;
}
.text_new {
  font-weight: 500;
font-size: 20px;
}
.NewPost {
  margin: 14px;
}
.window {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
    align-items: center;
  background: #FFFFFF;
}
.count_comments {
  font-size: 20px;
  margin-left: 4px;
}
.commentes {
  display: flex;
  align-items: center;
}
.active_buttons_post {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.doing_answer {
  display: flex;
  margin-right: 30px;
  align-items: center;
}
hr {
  border: 1px solid #F3F3F3;
  margin-top: 30px;
}
.email {
  width: 20%;
}
.email {
  width: 30%;
}
.title {
  font-size: 18px;
  line-height: 10px;
}
.title_of_answer {
  font-style: normal;
font-weight: 500;
font-size: 26px;
margin-right: 30px;

line-height: 31px;
font-feature-settings: 'pnum' on, 'lnum' on;
  color: white;
}

.user_name_style {
  font-size: 14px;
  color: white;
}
.images {
  width: 100px!important;
}
.box_title {
  display: flex;
  justify-content: space-between;
}
.functions {

}
.box_content {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 0px;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment--show {
  margin-top:30px;
  border-radius: 11px;
  background: white;
  padding-left: 30px;
  padding-top: 20px;
}
.icon--post {
  margin-right: 15px;
}
.answer_window {
  display: flex;
  align-items: center;
  margin-top: 10p !important;
}
#comment_commenter {
  width: 300px;
  background: rgba(185, 231, 128, 0.33);
  border-radius: 7px;
  padding: 10px;
  border: none;
}
.container_articles {
  width: 86%;
  margin: 0 auto;

}
.articles_columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article_card {
  background: white;
  height: 360px;
  padding-top: 12px;
  margin-bottom: 20px;
  width: 49.2%;
  position: relative;
  background-size: cover;
  border-radius: 10px;
}
.OneColumn {
  background: white;
  height: 360px;
  position:relative;
  background-size: cover;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}
.white {
  color: white;
}
.button--long {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #738A5F;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 375px;
  margin-top: 15px;
  font-size: 18px;
  color: white !important;
  height: 51px;
  text-align: center;
}
.button--long--in--article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #738A5F;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 15px;
  font-size: 18px;
  color: white !important;
  height: 51px;
  text-align: center;
}
.FourColumn {
  background: white;
  height: 360px;
  position: relative;
  background-size: cover;
  margin-bottom: 20px;
  width: 23.7%;
  border-radius: 10px;
}
.ThreeColumn {
  background: white;
  height: 360px;
  position: relative;
  background-size: cover;
  margin-bottom: 20px;
  width: 32.3%;
  border-radius: 10px;
}
#comment_body {
  width: 300px;
  height: 100px;
  resize: none;
  background: rgba(185, 231, 128, 0.33);
  border-radius: 7px;
  padding: 10px;
  border: none;
}
.text_content {
  font-size: 15px;
}
.hashtag_article {
  margin-left: 30px;
}

.container_show_article {
  width: 100%;
  height: 336px;
  padding-top: 30px;
  border-radius: 20px;
  background-size: cover !important;
  margin-top: 100px !important;

}
.content_email {
  height: 100%;
  width: 50%;
  background: white;
  border-radius: 30px;
}
.email--box {
  width: 100%;
  background: url('email_image.png');
  height: 294px;
  background-size: cover;
  border-radius: 30px;
}
.commenter {
  width: 20%;
}
.cont_art {
  margin: 0 auto;
}
.Hashtag--default {
  color: black;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 9px 20px 9px 20px;
  background: white;
}
.button--default {
  background: #293C37;
  margin-right: 21px;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  font-size: 17px;
  padding: 9px 20px 9px 20px;
}
.author {
  margin-top: -15px;
  margin-bottom:50px;
}
.content_of_answer {
  font-size: 18px;
  color: #62636B;
  font-weight: 400;
}
.element_active_table {
  font-size: 20px;
  margin-left: 30px !important;
  margin-top: 30px !important;
  margin-right: 30px !important;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.favorite {
  margin-left: 20px;
}
.element_active_table_2 {
  display: flex;
  width: 30px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.content_text_show {
  width: 100%;
  margin-top: 80px;
  border-radius: 7px;

}
.tools_edit {
  display: flex;
  justify-content: flex-end;
}
.comment_tools {
  display: flex;
justify-content: space-between;
width: 104%;
margin-top: 20px;
}
.active {
  justify-content: space-between;
}
.active_buttons {
  display: flex;
  width: 45%;
justify-content: flex-end;
}
.active_buttons_my {
  display: flex;
  width: 20%;
justify-content: flex-end;
}
.answer {
  margin-top: 50px;
}
.comment_body_form {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 7px;
}
.delete--icon {
  width: 21px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.comment_body {
  width: 104%;
  background: #F5F5F5;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;

}
.container_body_theme {
  width: 640px;
  margin-top: -50px;
  margin: 0 auto;
}
.container_edit {
  width: 640px;
  margin-top: -50px;
  margin: 0 auto;
}
.container_body_show {
  margin-top: -50px;
  margin: 0 auto;
  display: flex;

  width: 92%;

  display: flex;
    margin: 0 auto;
}

.field_name {
  width: 100%;
  height: 46px;

  border: 1px solid #A9E163;
  box-sizing: border-box;
  border-radius: 6px;
}
#post_name {
  width: 100%;
  height: 46px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #F3F3F3;
  background: #F3F3F3;
  box-sizing: border-box;
  border-radius: 6px;
}
.cat {
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #FFFFFF;
  border-radius: 33px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  transition-duration: 0.5s;
  align-items: center;
}
.cat:hover {
  background-color: #F2F2F2;;
  transition-duration: 0.5s;
}
.category_container {
  border: 1px solid black;
  padding: 15px;
  margin-right: 15px;
  align-items: center;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.all {
  display: flex;
}
.preview {
  padding-top: 5px;
}
.Category--shadow {
  box-shadow: 0px 4px 4px rgba(0.05, 0.05, 0.05, 0.05);
  border-radius: 27px;
  color: black;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 20px 7px 20px;
}
.top_question {
  margin-left: 30px;
  margin-top: 20px;
}
.top_question_column1 {
  margin-left: 30px;
  margin-top: 30px;
}
.border_margin {
    margin-left: 30px;
}
.bottom_question_column {
  position: absolute;
  left: 30px;
}
.top_question_column {
  height: 200px;
  width: 100%;

  padding-top: 30px;
  background-size: cover;
  border-radius: 10px;
}
.Category--default {
  background: white;
  margin-right: 10px;
  border-radius: 27px;
  color: black;
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  padding: 7px 20px 7px 20px;
}
.User--white {
  color: white;
}
.User--black {
  color: #989898;
  font-weight: 400;
  font-size: 16px;
}
.margin {
  margin-top: 100px;
}
.bottom_question {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.active_header {
  display: flex;
  align-items: center;
}
.right {
  margin-right: 20px;
}
.all_article_show {
  width: 80%;
  margin: 0 auto;
}
.preview {
  height: 220px;
  border-radius: 10px;
  position: relative;
}

.answer_button {
  display: flex;
  align-items: center;

}
.cont_art {
  position: relative;
  margin-bottom: 40px;
}
.text--end--article {
  width: 400px;
  padding-top: 1px;
  padding-left: 27px;
}
.category--end--article {
  padding-top: 15px;
  padding-left: 27px;
}
.title_article {
  position: absolute;
  bottom: 0px;
  left: 30px;
}
.article_content {
  display: flex;
  justify-content:space-between;
  margin-top: 50px;
}
.bottom_of_answer {
  bottom: 0px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 15px;
  position: absolute;
}
.avatar_post {
  margin-right: 13px;
  margin-top: 4px;
}
.user_info {
  display: flex;
  align-items: center;
}
.content--black {
  font-weight: 500;
  font-size: 30px;
  line-height: 21px;
  color: #62636B;

}

.post--buttons {
  display: flex;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 15px;
  justify-content: space-between;
}
.answer--icon {
  margin-right: 15px;
}
.contentpost--black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  margin-right: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.contentpost--black--in--post {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-bottom: 5px;
}
.content--grey {
  font-weight: 500;
  font-size: 18px;
  color: #62636B;
}
.post_view {
  padding-bottom: 15px;
  background: white;
  border-radius:0px 0px 11px 11px;
}
.title--black {
  color: black;
  font-weight: 600;
  font-size: 30px;
}
.TwoColumns {
  border: 1px solid red;
}
.title--white {
  color: white;
  font-weight: 500;
  font-size: 26px;
}
.article--white {
  color: white;
  margin-right: 30px;
  font-weight: 500;
  line-height: 35.22px;
  font-size: 30px;
}
.account--avatar {
  display: flex;
  justify-content: center;
}
.end--of--article {
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  background: #738A5F;
  height: 173px;
}
.A_PTag--white--default {
  font-size: 20px;
  color: white;
}
.avatar_page {
  width: 119px;
}
.end--article {
  width: 93%;
  margin: 0 auto;
}
.account--card {
  width: 328px;
  padding-top: 37px;
  margin-left: 60px;
  position: fixed;
  top: 119px;
  background: white;
  border-radius: 30px;
}
.preview--account {
  width: 100%;
  height: 290px;
  object-fit: cover;
}
.post_on_main_page {
  width: 66%;
  margin-left: 18px;
  margin-top: -17px;
}
.container_tags_and_posts {
  display: flex;
}
.Video_post:nth-of-type(2n) {
  padding-bottom: 10px;
}
.Video_post:nth-of-type(1) {
  margin-bottom: 25px;
}
.Video_post:nth-of-type(3) {
  margin-bottom: 25px;
}
.video_posts_view {
  background-size: cover;
}
.article--white--small {
  color: white;
  font-size: 20px;
  margin-right: 30px;
  font-weight: 600;
  line-height: 23px;
  margin-left: 20px;
}
.article--white--show {
  color: white;
  margin-right: 30px;
  font-weight: 500;
  line-height: 35.22px;
  font-size: 40px;
  margin-bottom: 50px;
}
.content--article {
  font-weight: 400;
  width: 60%;
  font-size: 23px;
  color: black;
}
.article--black {
  color: black;
  margin-right: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 23.48px;
  font-size: 20px;
}
.content_Article {
  padding-left: 30px;
}
.post_image {
  margin-bottom: 10px;
border-radius: 29px 29px 0px 0px;
height: 336.03px;
width: 100%;
object-fit: cover !important;
}
.article_preview {
  margin-top: 0px;
  margin-bottom: 10px;
border-radius: 20px;
height: 336.03px;
width: 100%;
object-fit: cover !important;
}
.title_preview {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
}
.content_posts {
  width: 800px;
  margin-right: 15px;
  margin: 0 auto;
  margin-top: 100px;
}
.text_of_post {
  margin-left: 30px;
  margin-bottom: 20px;
}
.show {
  width: 70%;
}
.userinfo {
  display: flex;
  align-items: center;
}
#post_title {
  width: 100%;
  height: 46px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #F3F3F3;
background: #F3F3F3;
  box-sizing: border-box;
  border-radius: 6px;
}
#post_content {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-top: 20px;
    border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
}
.back {
  margin-right: 10px;
}
a {
  text-decoration: none;

}

// a:visited {
//   color: black !important;
// }
.NewPost {
  padding-left: 30px;
  padding-right: 30px;
  height: 36px;
  color: white;
  background: #738A5F;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content_top {
  margin-top: 20px;
}
.links--group {
  display: flex;
}
.dark--link {
  font-weight: 400;
  font-size: 18px;
  color: #BBBFB6;
}
.grey--link {
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  color: white;
}
table {
  margin-left: -5px;
  margin-top: 40px;
}
.M_TopArticle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  background: white;
  height: 216px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);
  border-radius: 38px;
}
.NewCategory {
  width: 170px;
  height: 37px;
  border: 1px solid black;
  background: white;
  border-radius: 50px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.right_footer {
  width: 40%;
  margin-left: 50px;
}
.left_footer {
  width: 31%;
  margin-top: 27px;
}
.florum--links {
  margin-right: 40px;
}
.A_H1--black {
  color: black;
  font-weight: 600;
  font-size: 50px;
  line-height: 20px;
}
.A_H3--white {
  color: white;
  font-weight: 500;
  font-size: 40px;
  line-height: 46.96px;
}
footer {
  position: relative;
  padding-top: 2px;
 width: 100%;
 margin-top: 30px;
 height: 500px;
 background: #738A5F;
 border-radius: 33px 32px 0px 0px;
}
.links_and_words {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.about_us {
  border-top: 1px solid #A2A2A2;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  bottom: 0;
  width: 94%;
  position: absolute;
}
.Links--black {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  color: #B3B3B3;
}
.video_posts_view {
  border-radius: 15px;
  height: 268px;
}
.Video_post {
  width: 33%;
  position: relative;
  margin-left: 30px;
}
.bottom_video {
  position: absolute;
  bottom: 10px;
}
.bottom_video:nth-of-type(2n) {
  position: absolute;

}
.top_video {
  margin-left: 20px;
  padding-top: 20px;
}
.Video_post:last-of-type {
  margin-right: 30px;
}
.Video_post:nth-of-type(2n) {
  margin-top: 28px;
}
.video_column {
  display: flex;
  margin-top: 40px;
}
.O_VideoBar {
  padding-bottom: 80px;
  width: 100%;
  padding-top: 30px;
  border-radius: 30px;
  background: url('back_maon.png');
  background-size: cover;
}
.box_theme {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.submit {
  display: flex;
  justify-content: flex-end;
}

input[type="submit"] {
  background: #738A5F;
  border: 1px solid #E0E0E0;
}
