body {
  margin: 0;
  padding: 0;
}

.container_header {
  // padding-left: 150px;
  // padding-right: 150px;
  width: 1200px;
  margin: 0 auto;
  height: 130px;
  display: flex;
  justify-content: center;
}
.container_body {
  width: 1200px;
  margin: 0 auto;
  height: 130px;
}
