body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  margin: 0;
  padding: 0;}

p {
  font-size: 18px;
}

body, p, ol, ul, td {
  font-size: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }
// img {
//   width: 200px;
//   height: 200px;
//   object-fit: contain;
// }
a {
  color: black;
}
th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px;
background: inherit !important;}

input[type=submit] {
  background: #738A5F;
  border: 1px solid #E0E0E0;
  color: white;
  border-radius: 8px;
  font-weight: 400;
  font-size: 20px;
  width: auto;
  padding: 10px 43px 10px 43px;
}
::placeholder {
  color: #C5C1C1;
}
input[type=text] {
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 16px;
  transition: all .3s;
  padding: 10px;
}
input[type=text]:hover {
  border: 1px solid #738A5F;
  transition: all .3s;
}
input[type=text]:focus {
  border: 2px solid #738A5F;
}
div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }
button {
  background: inherit;
  border: white;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

// label {
//   display: block; }
